doctype html
html
  head
    title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      h1 Welcome to the first Page #{title} 
    .container
      .main-content
        block content
      .sidebar
        block sidebar